page-find-services {
    .img-styling {
        width: 17px;
        background-size: cover;
        margin-left: 9px;
    }
    .item-block .item-inner {
         border-bottom: none !important;
         padding-right: 0px !important;
         
    }
}