page-location {
    #map {
        height: 80%;
    }
    #places {
        position: absolute;
        z-index: 2;
    }
}

page-update-location {
    #map {
        height: 80%;
    }
    #places {
        position: absolute;
        z-index: 2;
    }
}