page-category {
    .col-centered {
        margin: 0 auto;
    }
    .lbl {
        text-decoration-color: gray;
        text-decoration: underline;
        color: gray;
        font-weight: bold;
    }
    .disable {
        pointer-events: none;
    }
}